

body {
    background: black;
    font-family: "Helvetica", sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(24, 24, 24); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red; 
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

/* CLASSES */
.view {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #FFF;
    text-align: center;
    background: #000;
}

.no-overflow {
    overflow: hidden;
}

.yellow-text {
    color: yellow;
}

.red-text {
    color: red;
}

.orange-text {
    color: orange;
}

.hide {
    top: -100vh;
}

.debug {
    border: 1px red solid;
}

.loader {
    animation: rotate 3s infinite;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/* FOR TESTING */
.red {
    background: red;
}

.green {
    background: green;    
}

/* FLOATING NAV BUTTON */
#floating-nav-btn {
    height: 100px;
    width: 100px;
    border: 5px #FFF solid;
    border-radius: 50%;
    color: #FFF;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    outline: none;
    text-align: center;
    
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
    transition: transform 0.5s;
}

#floating-nav-btn:hover {
    background: rgb(255, 0, 0);
}

/* ABOUT VIEW */
#about-view {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 300px;
}

#about-right {
    text-align: center;
    padding: 20px 10% 100px 10%;
    background: rgb(24, 24, 24);
}

#profile-pic {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin: 20px auto;
}

#about-welcome-msg {
    line-height: 2;
    color: yellow;
    font-size: 1.2rem;
}



#about-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.about-square {
    width: 100%;
    height: 100%;
    min-width: 400px;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}


/* WEATHER SQUARE */
#weather-square {
    background: url('./images/beach02.jpg');
    background-size: cover;
    background-position: right;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 3px 3px 10px black;
    height: auto;
    min-height: 300px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 1fr;
    grid-gap: 0;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

#current-date {
    font-size: 2.5rem;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}

#social-links{
    grid-column-start: 1;
    grid-column-end: 3;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#social-links li {
    list-style-type: none;
    padding: 0 20px;
    color: #FFF;
}

#social-links li p {
    font-size: 0.8rem;
}

#social-links li a {
    text-decoration: none;
    color: #FFF;
}

#social-links li a:hover {
    color: lightblue;
}

.clock {
    font-size: 3rem;
    text-decoration: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.clock ul {
    margin: 0;
    padding: 0;
}

.clock ul li {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

#location-marker {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}

#hawaii-temp {
    font-size: 4rem;
    display: inline-block;
    padding: 20px;
}

#contact-square {
    background: url('./images/computer03.jpg');
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    min-height:300px;
}

#email-address {
    border: 0.5rem #FFF solid;
    padding: 20px 30px;
    margin: 0 auto;
    background: rgba(0, 255, 242, 0.5);
}

/* QUESTIONS/ANSWERS SQUARE */
#qa-square{
    font-size: 1.3rem;
    padding: 0 15%;
    min-height: 400px;
}


/* SKILLSET SQUARE */
#skillset-square {
    color: #FFF;
    min-height: 300px;
}

.skill-text {
    font-size: 1.3rem;
    line-height: 2;
    padding: 0 15%;
}

#skillset-square ul {
    margin: 0;
    padding: 0;
}

#skillset-square ul li{
    list-style-type: none;
    display: inline-block;
    border: 1px #FFF solid;
    padding: 5px 10px;
    margin: 5px;
    font-size: 1.3rem;
    color: #FFF
}

/* PROJECTS VIEW */

#projects-view{
    z-index: 2;
    transition: top 0.5s;
    display: grid;
    border-bottom: 6px red solid;
    box-sizing: border-box;
    grid-template-columns: 1fr 300px;
}

#projects-left {
    overflow: auto;
}

.project-section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 0;
}


.project-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    align-items: center;
    /* background: red; */
}

.project-title {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.fa-circle {
    font-size: 0.7rem;
    padding: 0 5px;
}

.fa-cogs,
.fa-file-code {
    padding: 15px;
}

.project-body {
    height: 100%;
    width: auto;
    display: flex;
    background: rgb(34, 34, 34);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.project-img-container {
    width: 50%;
    min-width: 400px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-img {
    width: 100%;
}

.project-description-container {
    width: 50%;
    min-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.project-nav-btn-container {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.project-nav-btn {
    border: 5px #FFF solid;
    border-radius: 50%;
    color: #FFF;
    margin: 20px 10px;
    outline: none;
    background: none;
    user-select: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-nav-btn:hover {
    border: 5px lightblue solid;
    color: lightblue;
}

.project-description {
    padding: 1rem;
    line-height: 1.5;
}

.project-link {
    color: #FFF;
    padding: 10px;
}

.project-link:hover {
    color: lightblue;
}

 /* PROJECT VIEW RIGHT VERTICAL NAV BAR */

#projects-right {
    background: rgb(24, 24, 24);
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.nav-menu {
    width: 100%;
    margin: 0; 
    padding: 0;
}

.nav-menu li {
    list-style-type: none;
    width: 100%;
    display: block;
    margin: 0;
    text-align: left;
}

.nav-menu li a {
    display: block;
    padding: 20px 0;
    width: 100%;
    text-decoration: none;
    color: #FFF;
    margin:auto;
    font-size: 1rem;
}

.fa-folder {
    margin-left: 20px;
}

.nav-menu li a:hover {
    background: orange;
}

.project-icon-container {
    padding: 20px;
}

/* MEDIA QUERIES */
/* @media only screen and (max-width: 900px) {

    #floating-nav-btn {
        height: 125px;
        width: 125px;
    }

    #about-left {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;
        height: 100vh;
    }

    .about-square {
        height: auto;
        max-height: 50%;
        width: 100%;
    }
  }

@media only screen and (max-width: 600px) {

    #floating-nav-btn {
        height: 125px;
        width: 125px;
    }

    #about-view {
        display:flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: auto;
    }

    #about-left {
        width: 100%;
        height: auto;
    }

    #about-right {
        width: 80%;
        height: auto;
    }

    .about-square {
        height: auto;
        max-height: 50%;
        width: 100%;
    }
  }
 */

